$regular: 400;
$medium: 500;
$bold: 700;

$global-background-color: #FFFFFF;
$background-color: #F6F7FF;
$main-text-color: #1F1E25;
$promo-text-color: #E0E1EA;
$grey-text-color: #707C87;
$input-text-color: #000000;
$button-color: #2C36F2;
$border-color: #C1C2CA;
$shadow: rgba(0, 0, 0, 0.25);
