$regular: 400;
$medium: 500;
$bold: 700;

$global-background-color: #FFFFFF;
$background-color: #F6F7FF;
$dot-background-color: #2028B6;
$main-text-color: #1F1E25;
$description-text-color: #2B3C4F;
$promo-text-color: #E0E1EA;
$grey-text-color: #707C87;
$input-text-color: #000000;
$modal-text-color: #394959;
$button-color: #2C36F2;
$border-color: #C1C2CA;
$shadow: rgba(0, 0, 0, 0.25);

$tablet-width: 768px;
$desktop-width: 1024px;
