.button {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;

  &--close {
    margin-top: -6px;
    margin-right: -7px;
  }

  &:focus,
  &:hover {
    color: $button-color;
    cursor: pointer;
  }

  &--close:focus,
  &--close:hover {
    transform: scale(1.2);
  }

  &--close:active {
    transform: scale(0.8);
  }
}

.button-icon {
  position: absolute;

  &--toggle {
    top: 6px;
    left: 4px;
  }

  &--login {
    width: 14px;
    height: 16px;
    top: 5px;
    left: 4px;
  }

  &--close {
    top: 5px;
    left: 5px;
  }
}

@media (min-width: $tablet-width) {
  .button {
    position: relative;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;

    &--close {
      margin-top: -4px;
      margin-right: -6px;
    }
  }
}
