.social {
  @include base-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  position: relative;
  display: block;
  color: $main-text-color;

  &:focus,
  &:hover {
    color: $button-color;
  }
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
  .social {
    justify-content: space-between;
    align-items: center;
    width: 102px;
    padding-top: 12px;
  }

  .social__item:not(:last-child) {
    margin-right: 0;
  }

  .social__link {

  }
}
